<!doctype html>
<html>
  <head>
    <title><%= Info[:lastName] %> <%= Info[:firstName] %> - Curriculum Vitæ</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="altamic">
    <meta name="application-name" content="altamic">
    <meta name="theme-color" content="#00aba9">

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <style type="text/css" media="all">

      @font-face {
        font-family: FontAwesome;
        src: url('fonts/fontawesome-webfont.woff');
        font-weight: 400;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Regular.woff');
        font-weight: 400;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Bold.woff');
        font-weight: 500;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Light.woff');
        font-weight: normal;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Medium.woff');
        font-weight: bold;
      }

      h1 { display: inline; }
      table { }
      tr    { page-break-inside: avoid; page-break-after: auto; }
      h1, h2, h3 { margin-bottom: 0.4em; page-break-after: avoid; font-weight: normal; }
      p { margin: 0.4em 0.4em; page-break-inside: avoid; }

      @page {
        margin: 2cm;
      }

      body { font-family: Roboto, sans-serif; margin: 2em; }

      table { margin-bottom: 2em; font-size: 0.90em }

      table tr td { text-align: justify; vertical-align: top; margin:0; padding-right: 1.6em; }
      
      table tr td:first-child { }

      td > ul { margin-top: 0.2em; margin-bottom: 0.2em; }
      td > ul > li { margin-bottom: 0.5em; }

      img.face {
        margin-top: -2.4em;
        margin-left: 0.4em;
        border: 2px solid #d0d0d0;
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 80px; /* future proofing */
        float: right;
        display: inline
      }

      img.client {
        margin: 1em 0 1em 0;
      }

      a { color: #3333B0; }

      p { font-size: 0.8em }
      p.justify { text-align: justify; }

      .smaller { font-size: 0.4em; font-weight: normal; margin-bottom: 0.4em;}

      .small { margin-top: 0.4em; text-indent: 0.2em; font-size: 0.7em; font-weight: lighter; }

      .left { text-align: left; }

      .invisible { visibility: hidden; }

      .largerWidth { width: 55% }

      .fontawesome {
        font-family: FontAwesome;
      }

      #timeline ul {
        padding: 0;
        margin: 0;
      }

      #timeline {
        list-style: none;
        float: left;
        width: 9.2em;
        margin: 24px 0 30px 58px;
        padding-left: 0;
        padding-right: 0.6em;
        padding-top: 24px;
        padding-bottom: 24px;
        border-left: 2px solid black;
      }

      #timeline li {
        padding: 0;
        position: relative;
      }

      #timeline li div.height1 {
        margin-bottom: -12px;
      }

      #timeline li div.height2 {
        margin-bottom: -4px;
      }

      #timeline li div.height3 {
        margin-bottom: 6px;
      }


      #timeline li div.height4 {
        margin-bottom: 18px;
      }

      #timeline li div.height5 {
        margin-bottom: 24px;
      }


      #timeline p {
      }

      .date {
        margin-top: -23px;
        top: 50%;
        left: -60px;
        font-size: 0.70em;
        line-height: 20px;
        position: relative;
      }

      .circle {
        margin-top: -17px;
        top: 50%;
        left: -5px;
        width: 6px;
        height: 6px;
        background: white;
        border: 1px solid black;
        border-radius: 50%;
        display: block;
        position: relative;
      }

      .label {
        font-size: 0.50em;
        margin-left: 12px;
        top: -12px;
        padding-right: 0.6em;
        display: block;
        position: relative;
      }

      @media screen and (max-width: 767px) {
        #timeline {
          margin-left: 0;
          padding-left: 0;
          border-left: none;
        }

        #timeline li {
          margin: 50px 0;
        }

        label {
          width: 85%;
          font-size: 1.1em;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          transform: translateX(18px);
        }

        .circle, .date {
          display: none;
        }
      }

    </style>
  </head>
  <body>
    <p>
    <i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:<%= Info[:email] %>"><%= Info[:email] %></a> &mdash;
    <i class="fa fa-phone"></i>&nbsp;<a href="tel:<%= Info[:phoneNumber] %>"><%= Info[:phoneNumber] %></a> &mdash;
    <% Internet[0..2].each do |i| %>
      <span class="fontawesome"><%= i[:icon]%></span>
    <% end %>
    <span class="fontawesome">&#xf2c6;</span>
    <span class="fontawesome">&#xf17e;</span>
    <a href="https://github.com/altamic">altamic</a>
    </p>

    <div id="updated-on" class="smaller">(curriculum vitæ updated on <%= DateTime.now.strftime('%B %Y') %>)</div>

    <div id="name">
      <h1><%= Info[:firstName] %> <%= Info[:lastName].upcase %></h1>
    </div>

    <img class="face" alt="<%= Info[:lastName] %> <%= Info[:firstName] %>" src="img/altamore_michelangelo_face.jpg" />

    <ul id='timeline'>
      <% Timeline[:items].each do |item| %>
        <li>
        <div class='height<%= item[2]%>'>
          <span class='date'><%= item[0] %></span>
          <span class='circle'></span>
          <span class='label'><%= item[1] %></span>
        </div>
        </li>
      <% end %>
    </ul>
    
    <% Info[:profileInfo].split("\n\n").each do |p| %>
      <p class="small"><em><%= p %></em></p>
    <% end %>

    <h2 id="toc_id_1"><%= Info[:profileDescription] %></h2>

    <h2>Quick facts</h2>
    <%= Info[:yearsExperience] %> Years experience
    <br/>
    <%= Info[:appsDeliveredCount] %> Mobile apps delivered
    <br/>
    <%= Info[:appsRunningCount] %> Apps running in production<sup>1</sup>
    <br/>
    <%= Info[:totalUsers] %> Total users<sup>1</sup>
    <br/>
    <%= Info[:grandTotalCommits] %> Commits

    <p class="smaller"><sup>1</sup> at the time of writing.</p>

    <h2 id="toc_id_2">Summary</h2>
    <% Info[:summaryPreamble].split("\n\n").each do |p| %>
      <p class="justify"><%= p %></p>
    <% end %>
    <% Info[:summary].split("\n\n").each do |p| %>
      <p class="justify"><%= p %></p>
    <% end %>

    <h2 id="toc_id_3">Skills</h2>
    <% Skills.each do |skill| %>
      <p><em><%= skill[:title] %>:</em> <%= skill[:tags] %></p>
    <% end %>

    <br/>

    <h2 id="toc_id_4">Projects grouped by clients</h2>
    <% ProjectsByClients.each do |item| %>
      <h3><%= item[:sector] %></h3>
      <table>
        <% item[:projects].each do |project| %>
        <tr>
          <td class="largerWidth">
              <img class="client" src="img/client/<%= project[:client] %>.png" /><br/>
              <% project[:roles].each do |role| %>
                <em>Role:</em> <%= role[:title] %><br/>
                <% if role.has_key? :period %>
                <em>Period:</em> <%= role[:period] %><br/>
                <% elsif role.has_key? :periods %>
                  <em>Periods:</em><br/>
                    <% role[:periods].each do |period| %>
                     - <%= period %><br/>
                    <% end %>
                <% end %>
                <em>Experience:</em> <%= role[:experience] %><br/>
                <em>Technologies:</em> <%= role[:technologies] %><br/>
                <br/>
              <% end %>
          </td>
          <td>
              <h2><%= project[:title] %></h2>
              <%= project[:description] %><br/>
              <% if project.has_key? :released %>
                <i><%= project[:released] %></i><br/>
              <% end %>
              <br/>
          </td>
        </tr>
      <% end %>
    </table>
    <% end %>

    <h2 id="toc_id_5">Open source projects</h2>
    <div><% OpenSourceProjects.each do |oss| %>
      <div><em><%= oss[:title] %>:</em>&nbsp;<%= oss[:description] %></div>
      <div><a href="<%= oss[:url] %>"><%= oss[:url] %></a></div>
      <div><br></div>
    <% end %>
    </div>

    <h2 id="toc_id_6">Education</h2>

    <h3 id="toc_id_7">Qualifications</h3>
    <% Qualifications.each do |q| %>
      <div><em><%= q[:year] %>:</em> <%= q[:description] %></div>
      <br/>
    <% end %>

    <h3 id="toc_id_8">Languages</h3>
    <table>
      <tbody>
        <tr>
          <td></td>
          <td><em><span class="Apple-tab-span" style="white-space:pre">  </span>Written</em></td>
          <td><em><span class="Apple-tab-span" style="white-space:pre">  </span>Spoken</em></td>
        </tr>
        <tr>
          <td><em>Italian</em></td>
          <td><span class="Apple-tab-span" style="white-space:pre"> </span>Excellent (native)</td>
          <td><span class="Apple-tab-span" style="white-space:pre"> </span>Excellent (native)</td>
        </tr>
        <tr>
          <td><em>English</em></td>
          <td><span class="Apple-tab-span" style="white-space:pre"> </span>Intermediate (B2)</td>
          <td><span class="Apple-tab-span" style="white-space:pre"> </span>Intermediate (B2)</td>
        </tr>
      </tbody>
    </table>

    <h2 id="toc_id_9">Other professional experiences outline</h2>
    <% OtherExperiencesOutline.each do |e| %>
      <em><%= e[:role]%>:</em> <%= e[:times] %> for <%= e[:totalMonths] %> in total <br/>
      <em>Technologies:</em> <%= e[:technologies] %> <br/>
      <br/>
    <% end %>

    <!--
    <h2 id="toc_id_10">Other professional experiences</h2>
    <% OtherExperiences.each do |e| %>
      <table>
        <tbody>
          <tr>
            <td><em>Role:</em></td>
            <td><%= e[:role] %><br></td>
          </tr>
          <tr>
            <td><em>Period:</em></td>
            <td><%= e[:period] %></td>
          </tr>
          <tr>
            <td><em>Client:</em></td>
            <td><%= e[:client] %><br></td>
          </tr>
          <tr>
            <td><em>Description:</em></td>
            <td><%= e[:description] %></td>
          </tr>
          <tr>
            <td><em>Experience:</em></td>
            <td class="left"><%= e[:experience] %></td>
          </tr>
          <tr>
            <td><em>Technologies:</em></td>
            <td><%= e[:technologies] %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    -->

    <h2 id="toc_id_11">Other activities</h2>
    <div>
      <% OtherActivities.each do |oa| %>
      <div><em><%= oa[:date] %>:</em>&nbsp;<%= oa[:description] %></div>
      <div><br></div>
      <% end %>
    </div>
  </body>
</html>
