<!doctype html>
<html>
  <head>
    <title><%= Info[:lastName] %> <%= Info[:firstName] %> - Curriculum Vitæ - Italiano</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="altamic">
    <meta name="application-name" content="altamic">
    <meta name="theme-color" content="#00aba9">

    <link rel="stylesheet" href="css/font-awesome.min.css">

    <style type="text/css" media="all">

      @font-face {
        font-family: FontAwesome;
        src: url('fonts/fontawesome-webfont.woff');
        font-weight: 400;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Regular.woff');
        font-weight: 400;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Bold.woff');
        font-weight: 500;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Light.woff');
        font-weight: normal;
      }

      @font-face {
        font-family: Roboto;
        src: url('fonts/Roboto-Medium.woff');
        font-weight: bold;
      }

      h1 { }
      table { margin-bottom: 1em; }
      tr    { page-break-inside: avoid; page-break-after: auto; }
      tr.header { margin-top: 2em; }
      h1, h2, h3 { margin-bottom: 0.4em; page-break-after: avoid; font-weight: normal; }
      p { margin: 0.4em 0.4em; page-break-inside: avoid; }

      @page {
        margin: 2cm;
      }

      body { font-family: Roboto, sans-serif; margin: 2em; min-width: 560px; }
      body { margin: 1em 4em 1em 4em; }

      table { font-size: 0.90em }
      table th { font-weight: normal; font-size: 1.1em }

      table tr td { text-align: justify; vertical-align: top; margin:0; padding-right: 0.6em; }

      table tbody tr td:first-child { float: right; }

      td > ul { margin-top: 0.2em; margin-bottom: 0.2em; }
      td > ul > li { margin-bottom: 0.5em; }

      img.face {
        margin-top: -2.4em;
        margin-left: 0.4em;
        border: 2px solid #d0d0d0;
        -moz-border-radius: 80px;
        -webkit-border-radius: 80px;
        border-radius: 80px; /* future proofing */
        float: right;
        display: inline
      }

      img.client {
        margin: 1em 0 1em 0;
      }

      a { color: #3333B0; }

      p { font-size: 0.82em; }

      p.bigger { font-size: 0.96em; }

      p.justify { text-align: justify; }

      .smaller { font-size: 0.4em; font-weight: normal; margin-bottom: 0.4em;}

      .small { margin-top: 0.4em; text-indent: 0.2em; font-size: 0.7em; font-weight: lighter; }

      .left { text-align: left; }

      .invisible { visibility: hidden; }

      .largerWidth { width: 55% }

      .fontawesome {
        font-family: FontAwesome;
      }
    </style>
  </head>
  <body>
    <p>
    <i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:<%= Info[:email] %>"><%= Info[:email] %></a> &mdash;
    <i class="fa fa-phone"></i>&nbsp;<a href="tel:<%= Info[:phoneNumber] %>"><%= Info[:phoneNumber] %></a> &mdash;
    <% Internet[0..2].each do |i| %>
      <span class="fontawesome"><%= i[:icon]%></span>
    <% end %>
    <span class="fontawesome">&#xf2c6;</span>
    <span class="fontawesome">&#xf17e;</span>
    <a href="https://github.com/altamic">altamic</a>
    </p>

    <div id="updated-on" class="smaller">(curriculum vitæ aggiornato a <%= DateTime.now.strftime_italian('%B %Y') %>)</div>

<h1 id="michelangelo-altamore-senior-mobile-developer-su-piattaforme-android-e-ios"><%= Info[:firstName] %> <%= Info[:lastName] %></h1>
<h2><em><%= Dati[:descrizioneProfilo] %></em></h2>
<h2 id="profilo">Profilo</h2>
<% Dati[:preambolo].split("\n\n").each do |p| %>
  <p class="justify bigger"><%= p %></p>
<% end %>
<% Dati[:sommario].split("\n\n").each do |p| %>
  <p class="justify bigger"><%= p %></p>
<% end %>

<h2 id="competenze">Competenze</h2>
<% Competenze.each do |c| %>
  <p class="bigger"><em><%= c[:titolo] %>:</em> <%= c[:nomi] %></p>
<% end %>

<h2 id="esperienze-professionali">Esperienze professionali</h2>

<% Esperienze.each do |e| %>
  <table>
    <tbody>
      <tr>
        <td><em>Periodo:</em></td>
        <td><%= e[:periodo] %></td>
      </tr>
      <tr>
        <td><em>Esperienza:</em></td>
        <td class="left"><%= e[:esperienza] %></td>
      </tr>
      <tr>
        <td><em>Ruolo:</em></td>
        <td><%= e[:ruolo] %><br></td>
      </tr>
      <tr>
        <td><em>Cliente:</em></td>
        <td><%= e[:cliente] %><br></td>
      </tr>
      <tr>
        <td><em>Obiettivi:</em></td>
        <td><%= e[:obiettivi] %></td>
      </tr>
      <tr>
        <td><em>Descrizione:</em></td>
        <td><%= e[:descrizione] %></td>
      </tr>
      <tr>
        <td><em>Tecnologie:</em></td>
        <td><%= e[:tecnologie] %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<h2 id="formazione">Formazione</h2>
<h3 id="qualifiche">Qualifiche</h3>
<% Qualifiche.each do |q| %>
<table>
<thead>
<tr class="header">
<td><%= q[:anno] %>:</td>
<td><em><%= q[:descrizione] %></em></td>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td><em><%= q[:dove] %></em><br/>
<em><%= q[:luogo] %></em></td>
</tr>
<tr>
<td></td>
<td>Votazione: <%= q[:votazione] %></td>
</tr>
</tbody>
</table>
<% end %>
<h3 id="lingue">Lingue</h3>
<table>
<thead>
<tr class="header">
<th></th>
<th><em>Comprensione</em></th>
<th><em>Parlato</em></th>
<th><em>Scritto</em></th>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td><em>Ascolto</em></td>
<td><em>Lettura</em></td>
<td><em>Interazione</em></td>
<td><em>Produzione</em></td>
</tr>
<tr>
<td><em>Italiano</em></td>
<td>C2</td>
<td>C2</td>
<td>C2</td>
<td>C2</td>
</tr>
<tr>
<td><em>Inglese</em></td>
<td>B2</td>
<td>B2</td>
<td>B2</td>
<td>B2</td>
</tr>
</tbody>
</table>
    <h2 id="progetti-open-source">Progetti Open Source</h2>
    <div>
      <% ProgettiOpenSource.each do |oss| %>
        <p class="bigger"><em><%= oss[:titolo] %>:</em>&nbsp;<%= oss[:descrizione] %><br/>
          <a href="<%= oss[:url] %>"><%= oss[:url] %></a>
        </p>
      <% end %>
    </div>

    <h2 id="altre-attività">Altre attività</h2>
    <% AltreAttivita.each do |a| %>
    <p class="bigger">
      <em><%= a[:data] %>:</em>&nbsp;<%= a[:descrizione] %>
    </p>
    <% end %>

    <h2 id="interessi-personali">Interessi personali</h2>
    
    <p class="bigger">
      <em>Tennis:</em>&nbsp;Iniziai a praticarlo all'età di 7 anni, regolarmente e con passione. Incordo da me le mie racchette con corde e tensioni che scelgo opportunamente. Mi è anche capitato di customizzare alcuni telai che uso.
    </p>
      <p class="bigger">
      <em>Tennis-tavolo:</em>&nbsp;Mi alleno due volte a settimana sin da Ottobre 2021 in un club locale di rilievo nazionale, per il quale intendo prossimamente partecipare ad attività agonistiche.
    </p>
    <p class="bigger">
      <em>Corsa:</em>&nbsp;Quasi quotidianamente sin da Settembre 2020, con vari benefici a livello generale, indicati da un innalzamento dei miei livelli di VO<sub>2</sub>Max che intendo continuare a migliorare, quando possibile alternando con il nuoto.
    </p>
        <p class="bigger">
      <em>Windsurf:</em>&nbsp;Iniziato durante l'estate del 2021, finora solo pratica con vele da 5mq<sup>2</sup>, mi ritengo un principiante.
    </p>
    <p class="bigger">
      <em>Vela:</em>&nbsp;L'interesse per il vento, mi ha portato a provare e iscrivermi ad un corso di vela ad Ottobre 2021. Ho l'obiettivo di conseguire la patente nautica fino a 12 miglia entro primavera 2022.
    </p>
    <p class="bigger">
      <em>Meditazione:</em>&nbsp;A mio parere può facilitare una migliore consapevolezza di sé, motivo per cui la pratico quotidianamente tramite la celebrata applicazione <em>HeadSpace</em>, sin dal Maggio 2021 con notevoli benefici.
    </p>
</body>
</html>
